@font-face{
    font-family: Corpid;
    src: url(Corpid.otf);
}
body{
    font-family: Corpid;
    margin: 0;
    a{
        text-decoration: none;
        text-transform: lowercase;
        color: #000;
    }
    a:hover{
        text-decoration: underline;
    }
}
#header{
    position:fixed;
    width: 93%;
    background-color: #fff;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    #navigation{
        display: flex;
        justify-content: flex-start;
        width: 50%;
        #logo{
            display: flex;
            align-items: center;
            font-size: 1.3em;
            text-transform: lowercase;
            color: #000;
            img{
                width: 50px;
                margin: auto;
                height: auto;
                padding-right: 10px;
            }
        }
        #logo:hover{
            cursor: pointer;
        }
    
        nav{
            width: 40%;
            ul{
                list-style: none;
                display: flex;
                justify-content: flex-start;
                li{
                    padding: 0 10px;
                    p{
                        text-transform: lowercase;
                        margin: 0;
                    }
                }
                li:hover{
                    cursor: pointer;
                }
            }
        }
    }
    #social{
        align-self: center;
        .icon{
            img{
                width: 30px;
            }
        }
    }
}
#container{
    padding-top: 70px;
    #home{
        //background-color: yellow;
        height: 400px;
    }
    .page{
        display: none;
    }
    #portfolio{
        //display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        nav{
            width: 15%;
            ul{
                padding-top: 20px;
                list-style: none;
                li{
                    padding-bottom: 25px;
                    font-size: .88em;
                    color: #777;
                    text-transform: lowercase;
                }
                li:hover{
                    text-decoration: none;
                    cursor: pointer;
                    p{
                        text-decoration: underline;
                    }
                }
            }
        }
        .picture{
            width: 33.33%;
            height: 15vw;
            overflow: hidden;
            img{
                width: 100%;
                /* this is only a temporary fix */
                min-height: 100%;
            }
        }
        #painting, #drawing, #design{
            width: 75%;
            //display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }
    #projects{
        //display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .project{
            width: 80%;
            display: flex;
            justify-content: flex-start;
            padding: 15px;
            margin: 10px 0;
            //background-color: pink;
            /* box shadow */
            -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
            .image {
                width: 25%;
                padding-right: 30px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .info{
                width: 75%;
                .title{
                    font-size: 1.6em;
                    font-weight: bold;
                    letter-spacing: 1px;
                }
                .subtitle{
                    font-weight: bold;
                    font-size: 0.85em;
                }
            }
            .links{
                a{
                    padding: 0 20px 0 0;
                    color: #5DADE2;
                }
            }
        }
    }
    #about{
        //background-color:aqua;
        height: 400px;
    }
    #contact{
        //background-color: plum;
        height: 400px;
    }
    footer{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: .75em;
    }
}

//classes
.active_page{
    display: flex !important;
}
.category{
    display: none;
}
.current_category{
    display: flex !important;
}
.current{
    color: #000 !important;
}
.active_page_link{
    border-bottom: 1px solid #000 !important;
}