@font-face {
  font-family: Corpid;
  src: url(Corpid.otf); }
body {
  font-family: Corpid;
  margin: 0; }
  body a {
    text-decoration: none;
    text-transform: lowercase;
    color: #000; }
  body a:hover {
    text-decoration: underline; }

#header {
  position: fixed;
  z-index: 1;
  width: 93%;
  background-color: #fff;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  #header #navigation {
    display: flex;
    justify-content: flex-start;
    width: 50%; }
    #header #navigation #logo {
      display: flex;
      align-items: center;
      font-size: 1.3em;
      text-transform: lowercase;
      color: #000; }
      #header #navigation #logo img {
        width: 50px;
        margin: auto;
        height: auto;
        padding-right: 10px; }
    #header #navigation #logo:hover {
      cursor: pointer; }
    #header #navigation nav {
      width: 40%; }
      #header #navigation nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-start; }
        #header #navigation nav ul li {
          padding: 0 10px; }
          #header #navigation nav ul li p {
            text-transform: lowercase;
            margin: 0; }
        #header #navigation nav ul li:hover {
          cursor: pointer; }
  #header #social {
    align-self: center;
    display: flex; }
    #header #social .icon {
      padding: 0 10px; }
      #header #social .icon img {
        width: 30px; }

#container {
  padding-top: 70px; }
  #container #home {
    height: 85vh;
    width: 100vw;
    background-image: url(../portfolio/self_portrait.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #container .page {
    display: none; }
  #container #portfolio {
    justify-content: flex-start;
    flex-wrap: wrap; }
    #container #portfolio nav {
      width: 15%; }
      #container #portfolio nav ul {
        position: fixed;
        padding-top: 20px;
        list-style: none; }
        #container #portfolio nav ul li {
          padding-bottom: 25px;
          font-size: .88em;
          color: #777;
          text-transform: lowercase; }
          #container #portfolio nav ul li p {
            margin: 0;
            height: 40px; }
        #container #portfolio nav ul li:hover {
          text-decoration: none;
          cursor: pointer; }
          #container #portfolio nav ul li:hover p {
            text-decoration: underline; }
    #container #portfolio .picture {
      width: 33.33%;
      height: 19vw;
      overflow: hidden; }
      #container #portfolio .picture img {
        width: 100%;
        /* this is only a temporary fix */
        min-height: 100%; }
    #container #portfolio .picture:hover {
      filter: brightness(70%); }
    #container #portfolio #painting, #container #portfolio #drawing, #container #portfolio #design {
      width: 85%;
      justify-content: flex-start;
      flex-wrap: wrap; }
  #container #projects {
    justify-content: flex-start;
    flex-wrap: wrap; }
    #container #projects #project_info {
      width: 25%;
      text-align: right; }
      #container #projects #project_info h3 {
        padding: 0 20px;
        font-size: 2em;
        margin-top: 15px;
        text-transform: lowercase; }
      #container #projects #project_info p {
        padding: 0 20px;
        line-height: 23px; }
      #container #projects #project_info a {
        padding: 0 20px;
        color: #555; }
      #container #projects #project_info .string {
        position: fixed;
        width: 23%; }
    #container #projects #project_content {
      width: 75%;
      position: relative;
      display: flex;
      flex-wrap: wrap; }
      #container #projects #project_content .project {
        width: 33.33%;
        position: relative;
        height: 228px; }
        #container #projects #project_content .project .background-image {
          position: absolute;
          filter: brightness(20%);
          height: 33vh; }
          #container #projects #project_content .project .background-image img {
            width: 100%;
            height: 33vh; }
        #container #projects #project_content .project .discription {
          display: none; }
      #container #projects #project_content .project:hover {
        cursor: pointer; }
        #container #projects #project_content .project:hover .background-image {
          filter: brightness(100%); }
        #container #projects #project_content .project:hover .overlay {
          display: none; }
      #container #projects #project_content .overlay {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 49px; }
        #container #projects #project_content .overlay img {
          width: 35%;
          height: auto; }
  #container #about {
    height: 400px; }
  #container #contact {
    height: 400px; }
  #container footer {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: .75em;
    position: absolute;
    bottom: 0; }

.active_page {
  display: flex !important; }

.category {
  display: none; }

.current_category {
  display: flex !important; }

.current {
  color: #000 !important; }

.active_page_link {
  border-bottom: 1px solid #000 !important; }

.fadeInUp {
  animation-duration: 0.5s; }

/*# sourceMappingURL=styles.css.map */
