@font-face{
    font-family: Corpid;
    src: url(Corpid.otf);
}
body{
    font-family: Corpid;
}
#header{
    padding: 100px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    #logo{
        img{
            width: 100px;
            margin: auto;
            height: auto;
        }
    }
    #title{
        text-transform: lowercase;
        text-align: center;
        width: 100%;
        font-size: 3em;
    }
}
nav{
    padding: 0 20%;
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        li{
            a{
                text-decoration: none;
                text-transform: lowercase;
                color: #000;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}